/*HISTORIAS*/
.historias
{
    margin: auto;
}
.historias h2
{
    margin: 3rem 3rem 0rem 3rem;
    text-align: center;
}
.historias h4
{
    margin-bottom: 1rem;
    text-align: center;
}
.historias ol
{
    margin: 0rem 2rem 6rem;
    padding: 2rem;
    border-radius: 15px;
    color: white;
    list-style: none;
    background-color: #db222a;
}
.historias a
{
    color: #2a2a2a;
}
.historias ol li 
{
    margin: 10px;
}

